In [2]:
import pandas as pd

In [221]:
df_ser1 = pd.read_csv('serpuhov1.csv', sep = ';')
df_ser2 = pd.read_csv('serpuhov2.csv', sep = ';')
df_ser3 = pd.read_csv('serpuhov3.csv', sep = ';')
df_ser4 = pd.read_csv('serpuhov4.csv', sep = ';')
df_dub1 = pd.read_csv('dubna1.csv', sep = ';')
df_dub2 = pd.read_csv('dubna2.csv', sep = ';')
df_dub3 = pd.read_csv('dubna3.csv', sep = ';')
df_dub4 = pd.read_csv('dub4.csv', sep = ';')
df_msk1 = pd.read_csv('mos1.csv', sep = ';')
df_msk2 = pd.read_csv('mos2.csv', sep = ';')
df_msk3 = pd.read_csv('mos3.csv', sep = ';')
df_msk4 = pd.read_csv('mos4.csv', sep = ';')
df_msk5 = pd.read_csv('mos5.csv', sep = ';')
df_msk6 = pd.read_csv('mos6.csv', sep = ';')
df_msk7 = pd.read_csv('mos7.csv', sep = ';')
df_msk8 = pd.read_csv('mos8.csv', sep = ';')
df_msk9 = pd.read_csv('msk9.csv', sep = ';')
df_msk10 = pd.read_csv('mos10.csv', sep = ';')
df_msk11 = pd.read_csv('mos11.csv', sep = ';')
df_msk12 = pd.read_csv('mos12.csv', sep = ';')
df_msk13 = pd.read_csv('mos13.csv', sep = ';')
df_msk14 = pd.read_csv('mos14.csv', sep = ';')
df_msk15 = pd.read_csv('mos15.csv', sep = ';')
df_msk16 = pd.read_csv('mos16.csv', sep = ';')
df_msk17 = pd.read_csv('mos17.csv', sep = ';')
df_msk18 = pd.read_csv('mos18.csv', sep = ';')
df_msk19 = pd.read_csv('mos19.csv', sep = ';')
df_msk20 = pd.read_csv('mos20.csv', sep = ';')
df_msk21 = pd.read_csv('mos21.csv', sep = ';')
df_msk22 = pd.read_csv('mos22.csv', sep = ';')
df_yah1 = pd.read_csv('yah1.csv', sep = ';')
df_yah2 = pd.read_csv('yah2.csv', sep = ';')
df_yah3 = pd.read_csv('yah3.csv', sep = ';')
df_vos1 = pd.read_csv('voskresensk1.csv', sep = ';')
df_tal1 = pd.read_csv('taldom1.csv', sep = ';')
df_tal2 = pd.read_csv('taldom2.csv', sep = ';')
df_tal3 = pd.read_csv('taldom3.csv', sep = ';')
df_tal4 = pd.read_csv('taldom4.csv', sep = ';')
df_ruza1 = pd.read_csv('ruza1.csv', sep = ';')
df_ruza2 = pd.read_csv('ruza2.csv', sep = ';')
df_reu1 = pd.read_csv('reutov1.csv', sep = ';')
df_reu2 = pd.read_csv('reutov2.csv', sep = ';')
df_kra_zov1 = pd.read_csv('krasnozavodsk1.csv', sep = ';')
df_od1 = pd.read_csv('odintsovo1.csv', sep = ';')
df_od2 = pd.read_csv('odintsovo2.csv', sep = ';')
df_iv1 = pd.read_csv('ivanteevka1.csv', sep = ';')
df_iv3 = pd.read_csv('ivanteevka3.csv', sep = ';')
df_iv2 = pd.read_csv('ivanteevka2.csv', sep = ';')
df_iv4 = pd.read_csv('ivanteevka4.csv', sep = ';')
df_iv5 = pd.read_csv('ivanteevka5.csv', sep = ';')
df_kot1 = pd.read_csv('kotelniki1.csv', sep = ';')
df_kot3 = pd.read_csv('kot3.csv', sep = ';')
df_elect1 = pd.read_csv('electrostal1.csv', sep = ';')
df_elect2 = pd.read_csv('electrostal2.csv', sep = ';')
df_elect3 = pd.read_csv('electrostal3.csv', sep = ';')
df_elect4 = pd.read_csv('electrostal4.csv', sep = ';')
df_elect5 = pd.read_csv('electrostal5.csv', sep = ';')
df_elect6 = pd.read_csv('electrostal6.csv', sep = ';')
df_elect7 = pd.read_csv('electrostal7.csv', sep = ';')
df_elect8 = pd.read_csv('electrostal8.csv', sep = ';')
df_elect9 = pd.read_csv('electrostal9.csv', sep = ';')
df_elect10 = pd.read_csv('electrostal10.csv', sep = ';')
df_elect11 = pd.read_csv('electrostal12.csv', sep = ';')
df_elect12 = pd.read_csv('electrostal13.csv', sep = ';')
df_elect13 = pd.read_csv('electrostal11.csv', sep = ';')
df_lub1 = pd.read_csv('lub1.csv', sep = ';')
df_lub2 = pd.read_csv('lub2.csv', sep = ';')
df_lub4 = pd.read_csv('lub4.csv', sep = ';')
df_lub5 = pd.read_csv('lub5.csv', sep = ';')
df_lub6 = pd.read_csv('lub6.csv', sep = ';')
df_lub7 = pd.read_csv('lub7.csv', sep = ';')
df_lub8 = pd.read_csv('lub8.csv', sep = ';')
df_dolgopa1 = pd.read_csv('dolgopa1.csv', sep = ';')
df_dolgopa2 = pd.read_csv('dolgopa2.csv', sep = ';')
df_dolgopa3 = pd.read_csv('dolgopa3.csv', sep = ';')
# df_kol2 = pd.read_csv('kol2.csv', sep = ';')
df_lob1 = pd.read_csv('lob1.csv', sep = ';')
df_lob2 = pd.read_csv('lob2.csv', sep = ';')
df_lob3 = pd.read_csv('lob3.csv', sep = ';')
df_lob4 = pd.read_csv('lob4.csv', sep = ';')
df_lob5 = pd.read_csv('lob5.csv', sep = ';')
df_lob6 = pd.read_csv('lob6.csv', sep = ';')
df_lob7 = pd.read_csv('lob7.csv', sep = ';')
df_lob8 = pd.read_csv('lob8.csv', sep = ';')
df_khimki1 = pd.read_csv('khimki1.csv', sep = ';')
df_khimki2 = pd.read_csv('khimki2.csv', sep = ';')
df_khimki3 = pd.read_csv('khimki3.csv', sep = ';')
df_khimki4 = pd.read_csv('khimki4.csv', sep = ';')
df_khimki5 = pd.read_csv('khimki5.csv', sep = ';')
df_khimki6 = pd.read_csv('khimki6.csv', sep = ';')
df_khimki7 = pd.read_csv('khimki7.csv', sep = ';')
df_khimki8 = pd.read_csv('khimki8.csv', sep = ';')
df_khimki9 = pd.read_csv('khimki9.csv', sep = ';')
df_khimki10 = pd.read_csv('khimki10.csv', sep = ';')
df_hot1 = pd.read_csv('hot1.csv', sep = ';')
df_yah4 = pd.read_csv('yah4.csv', sep = ';')
df_balash1 = pd.read_csv('balash1.csv', sep = ';')
df_balash2 = pd.read_csv('balash2.csv', sep = ';')
df_balash3 = pd.read_csv('balash3.csv', sep = ';')
df_balash4 = pd.read_csv('balash4.csv', sep = ';')
df_balash5 = pd.read_csv('balash5.csv', sep = ';')
df_balash6 = pd.read_csv('balash6.csv', sep = ';')
df_balash7 = pd.read_csv('balash7.csv', sep = ';')
df_balash8 = pd.read_csv('balash8.csv', sep = ';')
df_dom1 = pd.read_csv('dom1.csv', sep = ';')
df_dom2 = pd.read_csv('dom2.csv', sep = ';')
df_dom3 = pd.read_csv('dom3.csv', sep = ';')
df_dom4 = pd.read_csv('dom4.csv', sep = ';')
df_dom5 = pd.read_csv('dom5.csv', sep = ';')
df_ram1 = pd.read_csv('ram1.csv', sep = ';')
df_ram2 = pd.read_csv('ram2.csv', sep = ';')
df_ram3 = pd.read_csv('ram3.csv', sep = ';')
df_ram4 = pd.read_csv('ram4.csv', sep = ';')
df_yah5 = pd.read_csv('yah5.csv', sep = ';')
df_bek1 = pd.read_csv('bek1.csv', sep = ';')
df_bek2 = pd.read_csv('bek2.csv', sep = ';')
df_bek3 = pd.read_csv('bek3.csv', sep = ';')
df_bek4 = pd.read_csv('bek4.csv', sep = ';')
df_kotel1 = pd.read_csv('kotel1.csv', sep = ';')
df_kotel2 = pd.read_csv('kotel2.csv', sep = ';')
df_kotel3 = pd.read_csv('kotel3.csv', sep = ';')
df_kotel4 = pd.read_csv('kotel4.csv', sep = ';')
df_kotel5 = pd.read_csv('kotel5.csv', sep = ';')
df_zwen1 = pd.read_csv('zwen1.csv', sep = ';')
df_zwen2 = pd.read_csv('zwen2.csv', sep = ';')
df_zwen3 = pd.read_csv('zwen3.csv', sep = ';')
df_zwen4 = pd.read_csv('zwen4.csv', sep = ';')
df_dm1 = pd.read_csv('dm1.csv', sep = ';')
df_dm2 = pd.read_csv('dm2.csv', sep = ';')
df_dm3 = pd.read_csv('dm3.csv', sep = ';')
df_nog1 = pd.read_csv('nog1.csv', sep = ';')
df_o = pd.read_csv('o.csv', sep = ';')
df_troitsk1 = pd.read_csv('troitsk1.csv', sep = ';')
df_main = pd.read_csv('main_file (2).csv', sep = ';')
df_shel1 = pd.read_csv('shel1.csv', sep = ';')
df_shel2 = pd.read_csv('shel2.csv', sep = ';')
df_kor1 = pd.read_csv('korolev1.csv', sep = ';')
df_new = pd.read_csv('neww.csv', sep = ';')
df_klin1 = pd.read_csv('klin1.csv', sep = ';')
df_cher1 = pd.read_csv('cher1.csv', sep = ';')
df_vid1 = pd.read_csv('vid1.csv', sep = ';')
df_new2 = pd.read_csv('new2.csv', sep = ';')
df_korol1 = pd.read_csv('korol1.csv', sep = ';')
df_korol2 = pd.read_csv('korol2.csv', sep = ';')
df_vol1 = pd.read_csv('vol1.csv', sep = ';')
df_vol2 = pd.read_csv('vol2.csv', sep = ';')
df_vol3 = pd.read_csv('vol3.csv', sep = ';')
df_vol4 = pd.read_csv('vol4.csv', sep = ';')
df_dzer1 = pd.read_csv('dzerzhinskij1.csv', sep = ';')
df_dzer2 = pd.read_csv('dzerzhinskij2.csv', sep = ';')
df_dzer3 = pd.read_csv('dzerzhinskij3.csv', sep = ';')
df_dzer4 = pd.read_csv('dzerzhinskij4.csv', sep = ';')
df_dzer5 = pd.read_csv('dzerzhinskij5.csv', sep = ';')
df_dzer6 = pd.read_csv('dzerzhinskij6.csv', sep = ';')
df_per1 = pd.read_csv('peresvet1.csv', sep = ';')
df_fr1 = pd.read_csv('fr1.csv', sep = ';')
df_shat1 = pd.read_csv('shat1.csv', sep = ';')
df_kg1 = pd.read_csv('kg1.csv', sep = ';')
df_kg2 = pd.read_csv('kg2.csv', sep = ';')
df_kg3 = pd.read_csv('kg3.csv', sep = ';')
df_kg4 = pd.read_csv('kg4.csv', sep = ';')
df_mit1 = pd.read_csv('mit1.csv', sep = ';')
df_mit2 = pd.read_csv('mit2.csv', sep = ';')

In [222]:
df = pd.concat([df_ser1, df_ser2, df_ser3, df_ser4, df_dub1, df_dub2, df_dub3, df_msk1,
               df_msk2, df_msk3, df_msk4, df_msk5, df_msk6, df_msk7, df_yah1, df_yah2, df_yah3, df_vos1, 
               df_tal1, df_ruza1, df_reu1, df_reu2, df_kra_zov1, df_od1, df_od2, df_lub1,
               df_iv1, df_iv2, df_iv3, df_kot1, df_kot3, df_elect1, df_elect2, df_elect3, df_elect4, 
               df_elect5, df_elect6, df_elect7, df_elect8, df_elect9, df_elect10, df_iv4, 
               df_iv5, df_dolgopa1, df_dolgopa2, df_msk8, df_lob1, df_lob2, 
               df_lob3, df_lob4, df_khimki1, df_khimki2, df_khimki3, df_msk9, df_hot1, df_yah4, df_msk10,
               df_msk11, df_msk12, df_msk13, df_msk14, df_balash1, df_dom1, df_dom2, df_dom3, df_dom4, 
               df_ram1, df_ram2, df_ram3, df_ram4, df_yah5, df_bek1, df_dom5, df_dolgopa3, df_bek2, 
               df_bek3, df_bek4,df_kotel1, df_kotel2, df_kotel3, df_zwen1, df_zwen2, df_zwen3, df_zwen4, 
               df_balash2, df_balash3, df_dub4, df_lob5, df_lob6, df_lob7, df_lob8, df_khimki4, 
               df_khimki5, df_khimki6, df_elect11, df_elect12, df_msk15, df_msk16,
               df_lob2, df_lob3, df_lob4, df_lob5, df_lob6, df_lob7, df_lob8, df_dm1, df_msk17, df_nog1, 
               df_balash4, df_o, df_troitsk1, df_kotel4, df_kotel5, df_khimki7, df_main, df_khimki8, 
               df_shel1, df_balash7, df_kor1, df_klin1, df_cher1, df_elect13, df_shel2, df_vid1, 
               df_new, df_balash8, df_new2, df_korol1, df_msk18, df_msk19, df_khimki9, df_vol1, df_vol2, df_vol3, 
               df_vol4, df_lub7, df_korol2, df_tal2, df_tal3, df_lub8, df_ruza2, df_dzer1, df_dzer2, df_dzer3,
               df_dzer4, df_dzer5, df_dzer6, df_dm2, df_tal4, df_per1, df_msk20, df_msk21, 
               df_msk22, df_fr1, df_shat1, df_dm3, df_khimki10, df_kg1, df_kg2, df_kg3, df_kg4, df_mit2, df_mit1])

df = df.drop_duplicates()
df = df.drop(columns=df.columns[-1])
df.head()

,author,author_type,url,location,deal_type,accommodation_type,floor,floors_count,rooms_count,total_meters,...,finish_type,living_meters,kitchen_meters,phone,ceiling_height,district,street,house_number,underground,residential_complex
0,ID 115709096,homeowner,https://serpukhov.cian.ru/sale/flat/301136001/,Серпухов,sale,flat,6,6,1,20.7,...,-1,18 м²,1 м²,79175096253,3 м,Серпухов,Крюкова,4,NaN,NaN
1,Самолёт плюс Подмосковье Серпухов,real_estate_agent,https://serpukhov.cian.ru/sale/flat/305145433/,Серпухов,sale,flat,1,9,1,33.0,...,-1,18 м²,6 м²,79645530086,"2,7 м",NaN,Ворошилова,144,Аннино,NaN
2,ID 3246838,realtor,https://serpukhov.cian.ru/sale/flat/308145954/,Серпухов,sale,flat,4,4,1,14.0,...,-1,-1,-1,79807126116,-1,Красный Текстильщик мкр,Красный Текстильщик,2,NaN,NaN
3,ID 64398571,unknown,https://serpukhov.cian.ru/sale/flat/309086009/,Серпухов,sale,flat,5,5,1,17.5,...,-1,-1,-1,79645652380,-1,Серпухов,Российская,40,NaN,NaN
4,ЛИДЕРМЭЙН,real_estate_agent,https://serpukhov.cian.ru/sale/flat/308401669/,Серпухов,sale,flat,4,7,1,25.9,...,-1,20 м²,5 м²,79099408093,"3,5 м",Серпухов,Химиков,8,NaN,NaN

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8393 entries, 0 to 18
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   author                7592 non-null   object
 1   author_type           7595 non-null   object
 2   url                   7906 non-null   object
 3   location              7906 non-null   object
 4   deal_type             7906 non-null   object
 5   accommodation_type    7906 non-null   object
 6   floor                 7906 non-null   object
 7   floors_count          7906 non-null   object
 8   rooms_count           7906 non-null   object
 9   total_meters          7906 non-null   object
 10  price                 7893 non-null   object
 11  year_of_construction  7906 non-null   object
 12  object_type           7906 non-null   object
 13  have_loggia           7906 non-null   object
 14  parking_type          7906 non-null   object
 15  house_material_type   7906 non-null   object
 16  heating_type          7906 non-null   object
 17  finish_type           7906 non-null   object
 18  living_meters         7906 non-null   object
 19  kitchen_meters        7906 non-null   object
 20  phone                 7906 non-null   object
 21  ceiling_height        7906 non-null   object
 22  district              3127 non-null   object
 23  street                6255 non-null   object
 24  house_number          6699 non-null   object
 25  underground           5511 non-null   object
 26  residential_complex   3971 non-null   object
dtypes: object(27)
memory usage: 1.8+ MB

In [224]:
df.columns

Index(['author', 'author_type', 'url', 'location', 'deal_type',
       'accommodation_type', 'floor', 'floors_count', 'rooms_count',
       'total_meters', 'price', 'year_of_construction', 'object_type',
       'have_loggia', 'parking_type', 'house_material_type', 'heating_type',
       'finish_type', 'living_meters', 'kitchen_meters', 'phone',
       'ceiling_height', 'district', 'street', 'house_number', 'underground',
       'residential_complex'],
      dtype='object')

In [225]:
location_counts_df = df['location'].value_counts().reset_index()
location_counts_df.columns = ['location', 'count']

print(location_counts_df)

         location  count
0        Балашиха   1211
1           Химки    852
2          Москва    756
3      Котельники    516
4    Долгопрудный    515
5        Пересвет    411
6         Щёлково    325
7         Королёв    318
8        Бекасово    316
9         Дмитров    260
10   Электросталь    231
11    Дзержинский    204
12         Мытищи    195
13           Клин    161
14    Красногорск    142
15         Талдом    121
16         Яхрома    112
17    Волоколамск    108
18     Домодедово    107
19         Троицк    106
20        Люберцы     94
21     Ивантеевка     94
22         Видное     78
23     Звенигород     76
24        Фрязино     69
25      Раменское     62
26       Серпухов     60
27          Дубна     58
28           Руза     55
29          Лобня     55
30         москва     39
31        Яхромаа     38
32       Хотьково     32
33        Ногинск     28
34  Краснозаводск     25
35   Черноголовка     23
36         Реутов     15
37    Воскресенск     14
38         Шатура     13
39        Талодом      8
40       Одинцово      2
41       location      1

In [226]:
df['object_type'].unique()

array(['Вторичка', 'Новостройка', 'Вторичка / Апартаменты',
       'Новостройка / Апартаменты', 'Вторичка / Пентхаус',
       'Новостройка / Пентхаус', nan, 'object_type'], dtype=object)

In [228]:
df.to_csv('war_is_over.csv', sep=',', index=False, encoding='utf-8')